<div class="container">

  <div class="header">
    <h2>Raw Material Inventory</h2>
    <button class="btn" (click)="addPurchase()">+ Add Purchase</button>
  </div>

  <div *ngIf="loading">Loading inventory...</div>
  <div *ngIf="errorMsg" class="error">{{ errorMsg }}</div>

  <table *ngIf="!loading && rawMaterials.length">
    <thead>
    <tr>
      <th (click)="sort('materialName')">
        Material
        <span *ngIf="sortColumn === 'materialName'">
    {{ sortDirection === 'asc' ? '▲' : '▼' }}
  </span>
      </th>

      <th (click)="sort('category')">
        Category
        <span *ngIf="sortColumn === 'category'">
    {{ sortDirection === 'asc' ? '▲' : '▼' }}
  </span>
      </th>

      <th (click)="sort('availableQty')">
        Available Qty
        <span *ngIf="sortColumn === 'availableQty'">
    {{ sortDirection === 'asc' ? '▲' : '▼' }}
  </span>
      </th>

      <th (click)="sort('unit')">
        Unit
        <span *ngIf="sortColumn === 'unit'">
    {{ sortDirection === 'asc' ? '▲' : '▼' }}
  </span>
      </th>

      <th>Status</th>
      <th>⚙</th>

    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let material of rawMaterials">
      <td>{{ material.materialName }}</td>
      <td>{{ material.category }}</td>
      <td>{{ material.availableQty }}</td>
      <td>{{ material.unit }}</td>

      <td
        [ngClass]="{
            'status-in': getStatus(material) === 'IN',
            'status-low': getStatus(material) === 'LOW'
          }"
      >
        {{ getStatus(material) === 'IN' ? '● In' : '⚠ Low' }}
      </td>

      <td class="action-btn" (click)="viewDetails(material)">👁</td>
    </tr>
    </tbody>
  </table>

  <div class="legend">
    <span>● In Stock</span>
    <span>⚠ Low Stock</span>
  </div>
</div>
