<div class="modal-overlay">
<div class="container">
  <h2>Add Raw Material Purchase</h2>

  <form [formGroup]="purchaseForm">

    <div class="form-group">
      <label>Raw Material Name</label>
      <select formControlName="materialName">
        <option value="">Select Material</option>
        <option *ngFor="let mat of rawMaterials" [value]="mat">{{ mat }}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Date of Purchase</label>
      <input type="datetime-local" formControlName="dateOfPurchase">
    </div>


    <div class="form-group">
      <label>Supplier Name</label>
      <input type="text" formControlName="supplierName" placeholder="Enter supplier name">
    </div>

     <div class="form-group">
    <label>Purchase Levels</label>

    <div formArrayName="purchaseLevels">
      <div
        class="level-row"
        *ngFor="let level of purchaseLevels.controls; let i = index"
        [formGroupName]="i"
      >
        <input type="number" placeholder="Pack Size" formControlName="packSize">
        <select formControlName="unit">
          <option value="KG">KG</option>
          <option value="L">L</option>
        </select>
        <input type="number" placeholder="Item Count" formControlName="itemCount">
        <input type="number" placeholder="Unit Price" formControlName="unitPrice">

        <button type="button" class="remove-btn" (click)="removeLevel(i)">✕</button>
      </div>
    </div>

    <button type="button" class="add-btn" (click)="addLevel()">+ Add Level</button>
  </div>

    <div class="form-group">
      <label>Total Amount</label>
      <input type="number" [value]="totalAmount" readonly>
    </div>

    <div class="actions">
      <button type="button" class="btn btn-cancel" (click)="cancel()">Cancel</button>
      <button type="submit" class="btn btn-save" (click)="savePurchase()" [disabled]="purchaseForm.invalid">Save</button>
    </div>

  </form>
</div>
</div>
