<div class="container">

  <h2>Material Categories</h2>

  <div class="add-row">
    <input
      type="text"
      [(ngModel)]="newCategory"
      placeholder="Enter category name"
    />

    <button class="btn btn-primary" (click)="add()">
      + Add Category
    </button>
  </div>

  <table>

    <thead>
      <tr>
        <th>Name</th>
        <th style="width:200px;">Actions</th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let c of categories">

        <td *ngIf="editCategory?.id !== c.id">
          {{c.name}}
        </td>

        <td *ngIf="editCategory?.id === c.id">
          <input class="edit-input" [(ngModel)]="editCategory!.name">
        </td>

        <td>

          <button
            class="btn btn-secondary"
            *ngIf="editCategory?.id !== c.id"
            (click)="edit(c)">
            Edit
          </button>

          <button
            class="btn btn-primary"
            *ngIf="editCategory?.id === c.id"
            (click)="update()">
            Save
          </button>

          <button
            class="btn btn-danger"
            (click)="delete(c.id!)">
            Delete
          </button>

        </td>

      </tr>

    </tbody>

  </table>

</div>