<div class="container">
  <h2>Manufacture Paint (Batch Creation)</h2>

  <form [formGroup]="form">

    <!-- Batch Details -->
    <div class="form-row">
      <div class="form-group">
        <label>Paint Name</label>
        <select
        formControlName="paintFormulaId"
        [disabled]="paintFormulas.length === 0"
        (change)="onPaintChange()">
        <option value="">Select Paint</option>

        <option
            *ngFor="let p of paintFormulas"
            [value]="p.id">
            {{ p.paintName }}
        </option>
        </select>
      </div>

      <div class="form-group">
        <label>Batch Number</label>
        <input type="text" formControlName="batchNumber" readonly>
      </div>

      <div class="form-group">
        <label>Batch Size</label>
        <input type="number" formControlName="batchSize" (change)="validate()">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label>Manufacturing Date</label>
        <input type="date" formControlName="manufacturingDate">
      </div>

      <div class="form-group">
        <label>Supervisor Name</label>
        <input type="text" formControlName="supervisorName">
      </div>
    </div>

    <!-- Formula Breakdown -->
    <table *ngIf="materialStatus.length > 0">
      <thead>
        <tr>
          <th>Raw Material</th>
          <th>Required Qty</th>
          <th>Available Qty</th>
          <th>Status</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let m of materialStatus">
          <td>{{ m.rawMaterialName }}</td>
          <td>{{ m.requiredQty }}</td>
          <td>{{ m.availableQty }}</td>
          <td [class.status-ok]="m.sufficient"
              [class.status-low]="!m.sufficient">
            {{ m.sufficient ? '✅ OK' : '❌ Low' }}
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="!canManufacture && materialStatus.length > 0"
         class="warning">
      ⚠ Insufficient raw materials to manufacture this batch
    </div>

    <!-- PACKING SECTION -->
    <div class="packing-section" *ngIf="canManufacture">

      <h3>Packing Variants</h3>

      <table>
        <thead>
          <tr>
            <th>Can Size (Liters)</th>
            <th>Quantity</th>
            <th>Total Liters</th>
            <th>❌</th>
          </tr>
        </thead>

        <tbody formArrayName="packs">
          <tr *ngFor="let pack of packs.controls; let i = index"
              [formGroupName]="i">

            <td>
              <select formControlName="size">
                <option value="">Select Size</option>
                <option [value]="1">1 L</option>
                <option [value]="5">5 L</option>
                <option [value]="10">10 L</option>
              </select>
            </td>

            <td>
              <input type="number" formControlName="count">
            </td>

            <td>
              {{
                (pack.get('size')?.value || 0) *
                (pack.get('count')?.value || 0)
              }}
            </td>

            <td>
             <button
                type="button"
                class="btn btn-danger"
                (click)="removePack(i)"
                [disabled]="packs.length === 1">
                ✖
              </button>
            </td>

          </tr>
        </tbody>
      </table>

      <div class="add-row">
        <button type="button"
                class="btn btn-secondary"
                (click)="addPack()">
          + Add Pack Variant
        </button>
      </div>

      <div class="pack-summary">
        <p><b>Total Packed:</b> {{ totalPackedLiters }} L</p>
        <p><b>Remaining:</b> {{ remainingLiters }} L</p>

        <p class="warning"
          *ngIf="!isPackingValid()">
          ❌ Packed liters exceed batch size!
        </p>
      </div>

    </div>

    <!-- Actions -->
    <div class="actions">
      <button
        type="button"
        class="btn btn-cancel"
        (click)="cancel()">
        Cancel
      </button>

     <button
      type="button"
      class="btn"
      [class.btn-primary]="!isManufactureDisabled"
      [class.btn-disabled]="isManufactureDisabled"
      [disabled]="isManufactureDisabled"
      (click)="manufacture()">
      Manufacture Batch
    </button>
    <!-- <div *ngIf="getTotalPacked() !== form.get('batchSize')?.value"
     class="warning">
      ⚠ Total packed liters must exactly match batch size
    </div> -->
    </div>
  </form>
</div>

<app-batch-confirmation
  *ngIf="showConfirmation"
  [batchInfo]="batchInfo"
  [materials]="materialStatus"
  (cancel)="showConfirmation = false"
  (confirm)="confirmBatch()">
</app-batch-confirmation>